flush > /opt/app/current/bin/envs/mongodb_exporter.env <<NODE_EXPORTER_CONF
MONGODB_EXPORTER_PORT={{ getv "/env/conf.mongodb.exporter.port" }}
MONGODB_EXPORTER_ENABLED={{ getv "/env/conf.mongodb.exporter.enabled" }}
NODE_EXPORTER_CONF