DB_ZABBIX_USER=zabbix
DB_ZABBIX_PWD="{{ getv "/env/conf.zabbix.userPass" }}"
zEnabled={{ getv "/env/conf.zabbix.agent.enabled" }}
zServer={{ getv "/env/conf.zabbix.server.addr" }}
zListenPort={{ getv "/env/conf.zabbix.agent.port" }}

flush > /opt/app/current/bin/envs/zabbix.env <<ZABBIX_ENV_CONF
DB_ZABBIX_USER=zabbix
zEnabled=$zEnabled
zabbix_pass=$DB_ZABBIX_PWD
ZABBIX_ENV_CONF