DB_ZABBIX_USER=zabbix
DB_ZABBIX_PWD="{{ getv "/env/conf.zabbix.userPass" }}"
zEnabled={{ getv "/env/conf.zabbix.agent.enabled" }}

flush > /data/appctl/data/conf.zabbix <<ZABBIX_ENV_CONF
zEnabled=$zEnabled
zabbix_user=zabbix
zabbix_pass=$DB_ZABBIX_PWD
ZABBIX_ENV_CONF