flush > /etc/zabbix/zabbix_agent2.conf <<ZABBIX_CONF
PidFile=/var/run/zabbix/zabbix_agent2.pid
LogFile=/data/zabbix-log/zabbix_agent2.log
LogFileSize=50
Server=$zServer
ListenPort=$zListenPort
#ServerActive=127.0.0.1
Include=/etc/zabbix/zabbix_agent2.d/*.conf
UnsafeUserParameters=1
ZABBIX_CONF