flush > /etc/zabbix/zabbix_agent2.conf <<ZABBIX_CONF
PidFile=/var/run/zabbix/zabbix_agent2.pid
LogFile=/data/zabbix-logs/zabbix_agent2.log
LogFileSize=50
Server={{ getv "/env/conf.zabbix.server.addr" }}
ListenPort={{ getv "/env/conf.zabbix.agent.port" }}
#ServerActive=127.0.0.1
Include=/etc/zabbix/zabbix_agent2.d/*.conf
UnsafeUserParameters=1
ZABBIX_CONF