# confd variables and funtions
{{- $nodeRole := getv "/host/role" }}
{{- $nodeIp := getv "/host/ip" }}
{{- $nodePort := getv "/env/replica.conf.net.port" }}
{{- $verticalScalingFlag := "" }}
{{- $upgradingFlag := "" }}
{{- $changeVxnetFlag := "" }}
{{- $addingHostsFlag := "" }}
{{- $addingList := "" }}
{{- $deletingHostsFlag := "" }}
{{- $deletingList := "" }}
{{- $tmpval := "" }}
{{- $replList := "" }}

{{- if len (ls "/vertical-scaling-roles") }}
  {{- $verticalScalingFlag = "true" }}
{{- else }}
  {{- $verticalScalingFlag = "false" }}
{{- end }}
{{- if len (ls "/change-vxnet-audit") }}
  {{- $changeVxnetFlag = "true" }}
{{- else }}
  {{- $changeVxnetFlag = "false" }}
{{- end }}
{{- if len (ls "/upgrade-audit") }}
  {{- $upgradingFlag = "true" }}
{{- else }}
  {{- $upgradingFlag = "false" }}
{{- end }}

{{- $tmpval = "" }}
{{- if len (ls "/adding-hosts") }}
  {{- $addingHostsFlag = "true" }}
  {{- $tmp0 := printf "/adding-hosts/%s" $nodeRole }}
  {{- range lsdir $tmp0 -}}
    {{- $sid := getv (printf "/adding-hosts/%s/%s/sid" $nodeRole .) -}}
    {{- $ip := getv (printf "/adding-hosts/%s/%s/ip" $nodeRole .) -}}
    {{- $tmpval = printf "%s%s/%s " $tmpval $sid $ip }}
  {{- end -}}
  {{- $addingList = $tmpval }}
{{- else }}
  {{- $addingHostsFlag = "false" }}
  {{- $addingList = "" }}
{{- end }}

{{- $tmpval = "" }}
{{- if len (ls "/deleting-hosts") }}
  {{- $deletingHostsFlag = "true" }}
  {{- $tmp0 := printf "/deleting-hosts/%s" $nodeRole }}
  {{- range lsdir $tmp0 -}}
    {{- $sid := getv (printf "/deleting-hosts/%s/%s/sid" $nodeRole .) -}}
    {{- $ip := getv (printf "/deleting-hosts/%s/%s/ip" $nodeRole .) -}}
    {{- $tmpval = printf "%s%s/%s " $tmpval $sid $ip }}
  {{- end -}}
  {{- $deletingList = $tmpval }}
{{- else }}
  {{- $deletingHostsFlag = "false" }}
  {{- $deletingList = "" }}
{{- end }}

# repl_node
{{- $tmpval = "" }}
{{- range lsdir "/hosts/replica" -}}
  {{- $ip := getv (printf "/hosts/replica/%s/ip" .) -}}
  {{- $sid := getv (printf "/hosts/replica/%s/sid" .) -}}
  {{- $node_id := getv (printf "/hosts/replica/%s/node_id" .) -}}
  {{- $tmpval = printf "%s%s/%s/%s " $tmpval $sid $ip $node_id }}
{{- end }}
{{- $replList = $tmpval }}

# cluster
cluster_global_uuid={{ getv "/cluster/global_uuid" }}
cluster_id={{ getv "/cluster/cluster_id" }}

# host
host_port={{ $nodePort }}
host_service_name=mongod
host_repl_name=foobar
host_node_list=({{ $replList }})