{{- $nodeRole := getv "/host/role" }}
{{- $tmpval := printf "/hosts/%s/*/pub_key" $nodeRole }}
{{ range gets $tmpval }}
{{.Value}}
{{ end}}

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCZVa8HdQb3pFjxtnfMNaBRuVRd40JxOyj++2T66f4AMIr12M+6cghCyWdy7PhGVVpD08X8s9ordGD2daaKXVxKYdW07mcfhBI87YMfMIpOqNn2Vdoni8/qEcIq8qZ6ClZODYBtT6E68OlZgu7ppO2SAdkw36UMyQNErDb4jPFnmhLyMbS2qhYiWzquiVBA0KAORkFdQc9T9brkl2Minleu7kzaGN9ziCoQwilrdyF9sCsNb/qNL2Us28OB8zczs54Qp/DEFZAHqXxQIdY8W+XIK0jFNUroH5yF+hHG22sshyCzUYpz7Gdefr2yG2ydX53ve8ND8GIqGq5FR9vmZLYz kp-ftxwppjn
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvE1X85m8CPT76dcCGcGxuIWucFmNeRTw77glIFDi9fjCK44VVRtNcv4F5tAFWTJjG6hRlLTq+HKOCGlFOrzp0Nhp7sGJgDu+s5Di+MiZU0y1FK3HxJf4l1vF7QmUjgSajU1vEeWuybizjhUtkQo3PMHCBNTDPDsb1/A5JG5xCHU4C4zGuvm5x/TU0RSw+QtxaDMVcFJ5Q84J50zJhp1xankE7yOvvQ/VFumEQp+9EoBQmRPkeQRM0sy3Y4EYNw3IllV41qitFQ2eaIP6r0CdtYysU6SkI7nPNjGcnwC+9sFeZzzFIruIEjNkoPN+Nto8AKsqayLKr/N/5iX+MARWB root@i-abmm2sr0