{{- $nodeRole := getv "/host/role" }}
{{- $tmpval := printf "/hosts/%s/*/pub_key" $nodeRole }}
{{ range gets $tmpval }}
{{.Value}}
{{ end}}

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDRtobz4/D5gKMD6kM3pT95dUftuiVLNamhE5NKOx6+D5Je8V9pZfnPgiV6tthisegwsu4TKwXoOFJ/DpgJucQYwSEAWPMD9YUJc6iRrpV7n/RdC1TgEemtzZnbLgGwnxd841o241j+bh8qHzwWNMtJSyF3jHzVA6xGCYw4XXuOGCNboZ3tEoFhnLdTbY51H/OXm4KaMaeHxdXHTRuUl6OxJBxP5adL1REPQokc/EhXhWvSLoXxsZtAUom+BH9fo38M4m/O2Ju6Y7ANWL66Ki8T94vR06c156SZZDZ5KrA94lS2gUL7itcQWqs04+EOyxV/ALb14drrkLx3DsqmPNG1kNYebVvLq9C8GEsxSe2qtupxx2S/wY5aHkWjlW0ZSkZubAK00MdMKjrhhUw65NlGFAxbjINbo2fZrJsvtF9cZiE4pr/nyv+Js1YSGCDFupbXp5Q8e37JY7y/tU4zr+Rz6f53n4qi1bh9UduYi1VA+44IfNAxS1m5vDv+nfUF+UM= root@i-vtqmq7lq
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvE1X85m8CPT76dcCGcGxuIWucFmNeRTw77glIFDi9fjCK44VVRtNcv4F5tAFWTJjG6hRlLTq+HKOCGlFOrzp0Nhp7sGJgDu+s5Di+MiZU0y1FK3HxJf4l1vF7QmUjgSajU1vEeWuybizjhUtkQo3PMHCBNTDPDsb1/A5JG5xCHU4C4zGuvm5x/TU0RSw+QtxaDMVcFJ5Q84J50zJhp1xankE7yOvvQ/VFumEQp+9EoBQmRPkeQRM0sy3Y4EYNw3IllV41qitFQ2eaIP6r0CdtYysU6SkI7nPNjGcnwC+9sFeZzzFIruIEjNkoPN+Nto8AKsqayLKr/N/5iX+MARWB root@i-abmm2sr0