{{- $nodeRole := getv "/host/role" }}
{{- $nodeGid := getv "/host/gid" }}
{{- $tmpval := "" }}
{{- if eq $nodeRole "cs_node" }}
  {{- range gets "/hosts/cs_node/*/pub_key" }}
{{ .Value }}
  {{- end }}
{{- end }}
{{- if eq $nodeRole "mongos_node" }}
  {{- range gets "/hosts/mongos_node/*/pub_key" }}
{{ .Value }}
  {{- end }}
{{- end }}
{{- if or (eq $nodeRole "shard_node") (eq $nodeRole "shard_node-replica") }}
  {{- range $tmpval = lsdir "/hosts/shard_node/" }}
    {{- if eq (getv (printf "/hosts/shard_node/%s/gid" $tmpval)) $nodeGid }}
{{ getv (printf "/hosts/shard_node/%s/pub_key" $tmpval) }}
    {{- end }}
  {{- end }}
  {{- range $tmpval = lsdir "/hosts/shard_node-replica/" }}
    {{- if eq (getv (printf "/hosts/shard_node-replica/%s/gid" $tmpval)) $nodeGid }}
{{ getv (printf "/hosts/shard_node-replica/%s/pub_key" $tmpval) }}
    {{- end }}
  {{- end }}
{{- end }}