flush > /opt/app/current/bin/envs/node_exporter.env <<NODE_EXPORTER_CONF
NODE_EXPORTER_PORT={{ getv "/env/conf.node.exporter.port" }}
NODE_EXPORTER_ENABLED={{ getv "/env/conf.node.exporter.enabled" }}
NODE_EXPORTER_CONF