nPort={{ getv "/env/conf.node.exporter.port" }}
Enabled={{ getv "/env/conf.node.exporter.enabled" }}

flush > /data/appctl/data/conf.node_exporter <<NODE_EXPORTER_CONF
nPort=$nPort
nEnabled=$nEnabled
NODE_EXPORTER_CONF