{
   "name":{{cluster.name}},
   "description":{{cluster.description}},
   "vxnet":{{cluster.vxnet}},
   "backup_policy": "device",
   "incremental_backup_supported": true,
   "multi_zone_policy": "round_robin",
   "advanced_actions": ["change_vxnet", "scale_horizontal"],
   "upgrading_policy": "parallel",
   "upgrade_policy": [
        "appv-omli6gvn"
    ],
   "nodes":[{
        "role":"replica",
        "container":{
            "type":"kvm",
            "sriov_nic": true,
            "zone": "pek3",
            "image": "img-2xlazif1"
        },
        "instance_class":{{cluster.replica.instance_class}},
        "count":{{cluster.replica.count}},
        "cpu":{{cluster.replica.cpu}},
        "memory":{{cluster.replica.memory}},
        "volume":{
            "size":{{cluster.replica.volume_size}},
            "class":{{cluster.replica.volume_class}},
            "mount_point":"/data",
            "filesystem":"ext4"
        },
        "passphraseless":"ssh-rsa",
        "vertical_scaling_policy":"sequential",
        "services":{
            "init": {
                "cmd": "appctl init",
                "post_start_service": true
            },
            "start": {
                "cmd": "appctl start"
            },
            "stop": {
                "cmd": "appctl stop",
                "timeout": 1800
            },
            "get_nodes_order": {
                "event": ["upgrade", "rollback", "scale_vertical", "stop"],
                "cmd": "appctl getNodesOrder"
            },
            "scale_out": {
                "cmd": "appctl scaleOut"
            },
            "scale_in": {
                "cmd": "appctl scaleIn",
                "pre_check": "appctl scaleInPreCheck"
            },
            "change_vxnet": {
                "pre_check": "appctl changeVxnetPreCheck"
            },
            "backup": {
                "selector": "appctl getBackupNodeId",
                "cmd": "appctl backup",
                "cleanup": "appctl cleanup",
                "timeout": 86400
            },
            "restore": {
                "cmd": "appctl restore",
                "timeout": 86400
            },
            "upgrade": {
                "cmd": "appctl upgrade",
                "timeout": 86400
            },
            "rollback": {
                "cmd": "appctl rollback",
                "timeout": 86400
            }
        },
        "monitor":{
            "enable": false,
            "cmd": "appctl monitor",
            "items": {
                "op-insert": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "delta",
                    "scale_factor_when_display": 1
                },
                "op-query": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "delta",
                    "scale_factor_when_display": 1
                },
                "op-update": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "delta",
                    "scale_factor_when_display": 1
                },
                "op-delete": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "delta",
                    "scale_factor_when_display": 1
                },
                "op-getmore": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "delta",
                    "scale_factor_when_display": 1
                },
                "op-command": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "delta",
                    "scale_factor_when_display": 1
                },
                "opRepl-insert": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "delta",
                    "scale_factor_when_display": 1
                },
                "opRepl-query": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "delta",
                    "scale_factor_when_display": 1
                },
                "opRepl-update": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "delta",
                    "scale_factor_when_display": 1
                },
                "opRepl-delete": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "delta",
                    "scale_factor_when_display": 1
                },
                "opRepl-getmore": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "delta",
                    "scale_factor_when_display": 1
                },
                "opRepl-command": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "delta",
                    "scale_factor_when_display": 1
                },
                "connections-current": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "latest",
                    "scale_factor_when_display": 1
                },
                "connections-totalCreated": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "latest",
                    "scale_factor_when_display": 1
                },
                "connections-available": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "latest",
                    "scale_factor_when_display": 1
                },
                "cursor-timedOut": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "delta",
                    "scale_factor_when_display": 1
                },
                "cursor-open-noTimeout": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "delta",
                    "scale_factor_when_display": 1
                },
                "cursor-open-pinned": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "delta",
                    "scale_factor_when_display": 1
                },
                "cursor-open-total": {
                    "unit": "",
                    "value_type": "int",
                    "statistics_type": "delta",
                    "scale_factor_when_display": 1
                },
                "network-bytesIn": {
                    "unit": "MB",
                    "value_type": "int",
                    "statistics_type": "delta",
                    "scale_factor_when_display": 1
                },
                "network-bytesOut": {
                    "unit": "MB",
                    "value_type": "int",
                    "statistics_type": "delta",
                    "scale_factor_when_display": 1
                },
                "conn-usage": {
                    "unit": "%",
                    "value_type": "int",
                    "statistics_type": "latest",
                    "scale_factor_when_display": 0.1
                }
            },
            "groups": {
                "opcounters": [
                    "op-insert",
                    "op-query",
                    "op-update",
                    "op-delete",
                    "op-getmore"
                ],
                "opcountersRepl": [
                    "opRepl-insert",
                    "opRepl-query",
                    "opRepl-update",
                    "opRepl-delete",
                    "opRepl-getmore"
                ],
                "connections": [
                    "connections-current",
                    "connections-totalCreated",
                    "connections-available"
                ],
                "metrics-cursor": [
                    "cursor-timedOut",
                    "cursor-open-noTimeout",
                    "cursor-open-pinned",
                    "cursor-open-total"
                ],
                "network": [
                    "network-bytesIn",
                    "network-bytesOut"
                ]
            },
            "display": [
                "opcounters",
                "connections",
                "metrics-cursor",
                "network",
                "conn-usage"
            ],
            "alarm": [
                "connections-current",
                "connections-available",
                "conn-usage"
            ]
        }
   }],
   "env": {
        "conf.userPass": {{env.conf.userPass}},
        "conf.storage.engine": {{env.conf.storage.engine}},
        "conf.zabbix.userPass": {{env.conf.zabbix.userPass}},
        "conf.zabbix.server.addr": {{env.conf.zabbix.server.addr}},
        "conf.zabbix.agent.port": {{env.conf.zabbix.agent.port}},
        "conf.zabbix.agent.enabled": {{env.conf.zabbix.agent.enabled}},
        "conf.node.exporter.enabled": {{env.conf.node.exporter.enabled}},
        "conf.node.exporter.port": {{env.conf.node.exporter.port}},
        "conf.caddy.user": {{env.conf.caddy.user}},
        "conf.caddy.password": {{env.conf.caddy.password}},
        "conf.caddy.enabled": {{env.conf.caddy.enabled}},
        "replica.conf.net.port": {{env.replica.conf.net.port}},
        "replica.conf.setParameter.cursorTimeoutMillis": {{env.replica.conf.setParameter.cursorTimeoutMillis}},
        "replica.conf.operationProfiling.mode": {{env.replica.conf.operationProfiling.mode}},
        "replica.conf.operationProfiling.slowOpThresholdMs": {{env.replica.conf.operationProfiling.slowOpThresholdMs}},
        "replica.conf.replication.enableMajorityReadConcern": {{env.replica.conf.replication.enableMajorityReadConcern}},
        "replica.conf.replication.oplogSizeMB": {{env.replica.conf.replication.oplogSizeMB}}
   },
   "advanced_services": {
      "update_nodes_names": {
         "cmd": "/opt/mongodb/bin/mongo-trib.py get_nodes_names",
         "timeout": 10
      }
   },
   "endpoints": {
        "MongoDB": {
            "port": {{env.replica.conf.net.port}},
            "protocol": "TCP"
        },
        "Zabbix Agent2": {
            "port": {{env.conf.zabbix.agent.port}},
            "protocol": "TCP"
        }
   },
   "health_check":{
        "enable": false,
        "interval_sec": 60,
        "timeout_sec": 30,
        "action_timeout_sec": 30,
        "healthy_threshold": 2,
        "unhealthy_threshold": 2,
        "check_cmd": "appctl healthCheck",
        "action_cmd": "appctl revive"
   }
}
