flush > /opt/app/current/bin/envs/node.env << NODE_ENV_FILE
NODE_CTL=nodectl
MY_SID={{ getv "/host/sid" }}
MY_IP={{ $nodeIp }}
MY_ROLE={{ $nodeRole }}
MY_GID={{ $nodeGid }}
MY_PORT=$host_port
NET_MAINTAIN_PORT=27099
DATA_MOUNTS="/data"
GLOBAL_UUID=$cluster_global_uuid
CLUSTER_ID=$cluster_id
SERVICES="$host_service_name/true/tcp:$host_port"
NODE_LIST=($(echo ${host_node_list[@]}))
{{- if ne $nodeRole "cs_node" }}
INFO_SHARD_PORT={{ $shardPort }}
INFO_SHARD_GROUP_LIST=($(echo ${shard_group_list[@]}))
  {{- range getvs "/hosts/shard_node/*/gid" }}
INFO_SHARD_{{ . }}_LIST=($(eval echo \$\{shard_{{ . }}_list[@]\}))
INFO_SHARD_{{ . }}_RSNAME=$(eval echo \$shard_{{ . }}_rsname)
  {{- end }}
INFO_CS_LIST=({{ $cs_node_list }})
INFO_CS_RSNAME=$cs_rsname
INFO_CS_PORT={{ $csPort }}
{{- end }}
{{- if ne $nodeRole "mongos_node" }}
RS_NAME=$host_repl_name
{{- end }}
{{- if or (eq $nodeRole "shard_node") (eq $nodeRole "shard_node-replica") }}
SHARD_NODE_LIST=({{ $shard_node_list }})
{{- end }}

DB_QC_USER=qc_master
DB_ROOT_USER=root
DB_ROOT_PWD="{{ getv "/env/conf.userPass" }}"
DB_ZABBIX_USER=zabbix
DB_ZABBIX_PWD="{{ getv "/env/conf.zabbix.userPass" }}"

VERTICAL_SCALING_FLAG={{ $verticalScalingFlag }}
CHANGE_VXNET_FLAG={{ $changeVxnetFlag }}
CHANGE_VXNET_ROLES='{{ $changeVxnetRoles }}'

ADDING_HOSTS_FLAG={{ $addingHostsFlag }}
ADDING_ROLE={{ $addingRole }}
ADDING_LIST=({{ $addingList }})

DELETING_HOSTS_FLAG={{ $deletingHostsFlag }}
DELETING_ROLE={{ $deletingRole }}
DELETING_LIST=({{ $deletingList }})

NODE_ENV_FILE