flush > /opt/app/current/bin/envs/node.env << NODE_ENV_FILE
NODE_CTL="$host_ctl"
MY_SID={{ getv "/host/sid" }}
MY_IP={{ $nodeIp }}
MY_ROLE={{ $nodeRole }}
MY_PORT=$host_port
NET_MAINTAIN_PORT=27099
DATA_MOUNTS="/data"
GLOBAL_UUID=$cluster_global_uuid
CLUSTER_ID=$cluster_id
SERVICES="$host_service_name/true/tcp:$host_port"
NODE_LIST=($(echo ${host_node_list[@]}))
RS_NAME=$host_repl_name

DB_QC_USER=qc_master
DB_ROOT_USER=root
DB_ROOT_PWD="{{ getv "/env/conf.userPass" }}"
DB_ZABBIX_USER=zabbix
DB_ZABBIX_PWD="{{ getv "/env/conf.zabbix.userPass" }}"

VERTICAL_SCALING_FLAG={{ $verticalScalingFlag }}

CHANGE_VXNET_FLAG={{ $changeVxnetFlag }}

ADDING_HOSTS_FLAG={{ $addingHostsFlag }}
ADDING_LIST=({{ $addingList }})

DELETING_HOSTS_FLAG={{ $deletingHostsFlag }}
DELETING_LIST=({{ $deletingList }})

NODE_ENV_FILE