if [ ! -d "/data/appctl/data" ]; then mkdir -p /data/appctl/data; fi
if [ ! -d "/data/mongodb-conf" ]; then mkdir -p /data/mongodb-conf; fi
if [ ! -d "/data/zabbix-log" ]; then mkdir -p /data/zabbix-log; fi

flush > /data/appctl/data/hosts.info.new << HOSTS_INFO_NEW
PORT=$host_port
NODE_LIST=$(echo ${host_node_list[@]})
{{- if ne $nodeRole "mongos_node" }}
SHARD_GROUP_LIST=$(echo ${shard_group_list[@]})
  {{- if eq $nodeRole "cs_node" }}
EXT_PORT={{ $shardPort }}
EXT_LIST=$(echo ${shard_all_list[@]})
  {{- else }}
EXT_PORT={{ $csPort }}
EXT_LIST={{ $cs_node_list }}
  {{- end }}
{{- end }}
HOSTS_INFO_NEW