flush > /opt/app/current/bin/envs/node.env << NODE_ENV_FILE
MY_SID={{ getv "/host/sid" }}
MY_IP={{ $nodeIp }}
MY_ROLE={{ $nodeRole }}

DATA_MOUNTS="/data"
GLOBAL_UUID=$cluster_global_uuid
CLUSTER_ID=$cluster_id
# SERVICES="$host_service_name/true/tcp:$host_port"
NODE_LIST=($(echo ${host_node_list[@]}))

VERTICAL_SCALING_FLAG={{ $verticalScalingFlag }}

CHANGE_VXNET_FLAG={{ $changeVxnetFlag }}

NODE_ENV_FILE