flush > /etc/systemd/system/mongoshake.service <<MONGOSHAKE_SERVICE
[Unit]
Description=MongoShake
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
User=root
Group=root

ExecStart=/usr/bin/mongoshake -conf=/data/appctl/data/mongoshake.conf

SyslogIdentifier=MongoShake
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
MONGOSHAKE_SERVICE