---
- name: re-install ca-certificates,jq,bc
  apt:
    update_cache: yes
    name: ['ca-certificates','jq','bc','net-tools']
    state: latest

- name: download app-agent
  include_role:
    name: install-1.0.6
  vars:
    opts:
      pkg_name: app-agent
      pkg_version: "{{ appagent_version }}"
      pkg_url: https://github.com/QingCloudAppcenter/AppcenterAgent/releases/download/v{{ appagent_version }}/app-agent-linux-{{ arch1 }}.tar.gz
      pkg_type: tar.gz
      extracts: no

- name: remove app-agent's tar.gz
  file:
    path: /opt/app-agent
    state: absent

- name: unarchive app-agent
  unarchive:
    src: "{{ local_cache_path }}/{{ role_name }}/app-agent-{{ appagent_version }}.tar.gz"
    dest: /tmp
    remote_src: no

- name: install app-agent
  shell: /tmp/app-agent-linux-{{ arch1 }}/install.sh
  become: true
  become_user: root
  args:
    chdir: /tmp/app-agent-linux-{{ arch1 }}/
    creates: /opt/qingcloud/app-agent

- name: install mongoshake binaries
  include_role:
    name: install-1.0.6
  vars:
    opts:
      pkg_name: mongo-shake
      pkg_version: "{{ mongo_shake_version }}"
      pkg_url: https://github.com/alibaba/MongoShake/releases/download/release-v{{ mongo_shake_version }}-20210723-1/mongo-shake-v{{ mongo_shake_version }}.tar.gz
      pkg_type: tar.gz
      creates: bin
      extracts: yes
      extra_opts:
        - "--strip-components=1"

- name: copy app files
  copy:
    src: opt/app/current/
    dest: /opt/app/current/
    owner: root
    group: svc
    mode: preserve
    directory_mode: u=rwx,g=rx,o=rx

- name: copy service files
  copy:
    src: etc/systemd/
    dest: /etc/systemd/
    directory_mode: u=rwx,g=rx,o=rx

- name: modify /opt/app/current/bin/ctl.sh
  shell: sed -i 's/local f; for f in $(find \/opt\/app\/current\/bin\/node\/ -name "$fileNames.sh"); do . $f; done/local f; for f in $(eval echo "{$fileNames}.sh"); do . \/opt\/app\/current\/bin\/node\/$f; done/' /opt/app/current/bin/ctl.sh
  
- name: install confd files
  include_role:
    name: confd-files-1.1.0

- name: mask irqbalance.service
  systemd:
    name: irqbalance
    enabled: no
    masked: yes
    state: stopped

- name: clear syslog
  shell: ": > /var/log/syslog"