cEnabled={{ getv "/env/conf.caddy.enabled" }}
CaddyUser={{ getv "/env/conf.caddy.user" }}
CaddyPwd="{{ getv "/env/conf.caddy.password"}}"

flush > /data/appctl/data/conf.caddy <<CADDY_CONF
cEnabled=$cEnabled
CaddyUser=$CaddyUser
CaddyPwd=$CaddyPwd
CADDY_CONF