tmp_caddy_user={{ getv "/env/conf.caddy.user" }}
tmp_caddy_pwd=$(HOME=/root /opt/caddy/current/caddy hash-password --plaintext "{{ getv "/env/conf.caddy.password"}}")
flush > /opt/app/current/conf/caddy/Caddyfile <<CADDY_CONF
:8000 {
    basicauth {
        $tmp_caddy_user $tmp_caddy_pwd
    }
    file_server {
        root  /data/mongodb-logs
        browse
    }
    log  {
        output file /data/caddy-logs/access.log
    }
}
CADDY_CONF