source /opt/app/current/bin/envs/caddy.env
reloadCaddy() {
  if [ $CADDY_ENABLED = "yes" ]; then
    systemctl restart caddy.service || :
    #log "caddy restarted"
  else
    systemctl stop caddy.service || :
    #log "caddy stopped"
  fi
}
reloadCaddy